<div class="kmp__add-money">
    <div class="row">
        <div class="col-12-sm">
            <div class="kmp__input">
                <input type="text" placeholder="Ваше имя">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12-sm">
            <div class="kmp__input">
                <input type="text" placeholder="Номер карты">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6-sm">
            <div class="kmp__input">
                <input type="text" placeholder="Exp date">
            </div>
        </div>
        <div class="col-6-sm">
            <div class="kmp__input">
                <input type="text" placeholder="CVV">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12-sm">
            <div class="kmp__input">
                <input type="text" placeholder="Сумма оплаты">
            </div>
        </div>
    </div>
</div>


<div class="kmp__btn kmp__btn--rounded kmp__btn--primary">Далее</div>