<div class="kmp__logo kmp__logo--sm">
  <div class="kmp__service__item">
    <div class="kmp__service__icon">
        <img src="/img/aknet.png" alt="">
    </div>
    <div class="kmp__service__title">Акнет</div>
</div>
</div>

<div class="kmp__payment__form">
  <div class="kmp__input">
    <input type="tel" placeholder="Ваш номер телефона">
  </div>
  <div class="kmp__input">
    <input type="text" placeholder="Сумма оплаты">
  </div>

  <div class="kmp__payment__remainder">
      <p>Доступная сумма: <strong>215 сом</strong></p>
  </div>
</div>

<div class="kmp__btn kmp__btn--sticky kmp__btn--primary">Далее</div>