.kmp__main {
    &__header {
        position: relative;
        height: 145px;
        padding: 20px 5px;
    }

    &__l {
        float: left;
        width: 80px;
        text-align: center;
    }

    &__r {
        float: right;
        width: 90px;
        text-align: center;
    }

    &__c {
        position: absolute;
        left: 50%;
        @include transform(translateX(-50%));
        text-align: center;
    }

    &__body {
        border-top: 1px solid #cbd4da;
        position: relative;
    }

    &__icons {
        position: absolute;
        top: 0;
        left: 50%;
        width: 200px;
        text-align: center;
        @include transform(translate(-50%, -50%));
    }

    &__featured {
        padding: 45px 10px 30px;
    }

    &__services {
        position: relative;
        border-top: 1px solid #cbd4da;
        padding: 35px 10px 20px;
    }
}

.kmp__qr-icon {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.kmp__bcard-icon {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.kmp__icon-title {
    font-size: 14px;
    line-height: 1.2;
}

.kmp__balance {
    font-size: 36px;
    color: #2196f3;
}

.kmp__currency-title {
    font-size: 20px;
    color: #2196f3;
}

.kmp__balance-pay {
    font-size: 14px;
    width: 80px;
    margin: 0 auto;
    color: #2196f3;
}

.kmp__featured {
    &__title {
        text-align: center;
        font-size: 18px;
        margin-bottom: 15px;
    }

    &__items {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
}

