<div class="kmp__logo">
  <img class="kmp__logo__img" src="/img/logo.svg" alt="Kamp Logo">
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo repudiandae illum, ea voluptate facilis rerum non iste labore libero molestiae nisi blanditiis ex voluptates enim ab! Quos sunt id accusamus veniam obcaecati, deleniti eius magnam animi veritatis cum tenetur temporibus.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus praesentium pariatur placeat aperiam voluptate laboriosam adipisci quasi est, sit distinctio.</p>
<br>

<div routerLink="/settings-main" class="kmp__btn kmp__btn--sm kmp__btn--rounded kmp__btn--outline">Назад</div>