<div class="kmp__logo kmp__logo--sm">
    <div class="kmp__service__item">
        <div class="kmp__service__icon">
            <img src="/img/aknet.png" alt="">
        </div>
        <div class="kmp__service__title">Акнет</div>
    </div>
</div>

<div class="kmp__payment">
    <div class="kmp__payment__form-group">
        <div class="row">
            <div class="col-6-sm">
                <div class="kmp__payment__label">Сумма</div>
            </div>
            <div class="col-6-sm">
                <div class="kmp__payment__value">200 сом</div>
            </div>
        </div>
    </div>
    <div class="kmp__payment__form-group">
        <div class="row">
            <div class="col-6-sm">
                <div class="kmp__payment__label">Сумма</div>
            </div>
            <div class="col-6-sm">
                <div class="kmp__payment__value">200 сом</div>
            </div>
        </div>
    </div>
    <div class="kmp__payment__form-group">
        <div class="row">
            <div class="col-6-sm">
                <div class="kmp__payment__label">Сумма</div>
            </div>
            <div class="col-6-sm">
                <div class="kmp__payment__value">200 сом</div>
            </div>
        </div>
    </div>
</div>

<div class="kmp__btn kmp__btn--sticky kmp__btn--primary">Оплатить</div>