<div class="kmp__main">
    <div class="kmp__main__header">
        <div class="kmp__main__l">
            <img class="kmp__qr-icon" src="/img/qr.svg" alt="">
            <div class="kmp__icon-title">Быстрая оплата</div>
        </div>
        <div class="kmp__main__c">
            <div class="kmp__balance">1200<span class="kmp__currency-title">c</span></div>
            <div class="kmp__balance-pay">Пополнить баланс</div>
        </div>
        <div class="kmp__main__r">
            <img class="kmp__bcard-icon" src="/img/creditCard.svg" alt="">
            <div class="kmp__icon-title">Банковские карты</div>
        </div>
    </div>
    <div class="kmp__main__body">
        <div class="kmp__main__icons">
            <div class="kmp__history-btn">
                <img src="/img/history.svg" alt="">
            </div>
            <div class="kmp__refresh-btn">
                <img src="/img/refresh.svg" alt="">
            </div>
            <div class="kmp__settings-btn">
                <img src="/img/settings.svg" alt="">
            </div>
        </div>
    </div>
</div>