<div class="kmp__logo">
  <img class="kmp__logo__img" src="/img/logo.svg" alt="Kamp Logo">
</div>

<div class="kmp__signin">
  <div class="kmp__input">
    <input type="tel" placeholder="Ваш номер телефона" [textMask]="{mask: mask}" [(ngModel)]="telNumber">
    <p class="text-red text-warning" *ngIf="!telValid">Пожалуйста, введите правильный номер.</p>
  </div>
  <div class="kmp__input">
    <input type="text" [(ngModel)]="username" placeholder="Ваше имя">
    <p class="text-red text-warning" *ngIf="!nameValid">Имя должно быть больше 3 символов.</p>
  </div>

  <div class="kmp__signin__licence">
      <p>Нажимая «Создать кошелек», я принимаю <a href="#">Условия пользовательского соглашения</a></p>
  </div>
</div>

<div (click)="register()" class="kmp__btn kmp__btn--rounded kmp__btn--outline">Создать кошелек</div>