<div class="kmp__logo">
  <img class="kmp__logo__img" src="/img/logo.svg" alt="Kamp Logo">
</div>

<div class="kmp__signin">
  <div class="kmp__input">
    <input type="tel" placeholder="Ваш номер телефона" [textMask]="{mask: mask}" [(ngModel)]="telNumber">
  </div>
  <div class="kmp__input">
    <input type="text" placeholder="Ваше имя">
  </div>

  <div class="kmp__signin__licence">
      <p>Нажимая «Создать кошелек», я принимаю <a href="#">Условия пользовательского соглашения</a></p>
  </div>
</div>

<div (click)="register()" class="kmp__btn kmp__btn--sticky kmp__btn--white">Войти в кошелек</div>