<div class="kmp__settings">
    <ul class="kmp__settings__list">
        <li>
            <a [routerLink]="['/about']" class="kmp__settings__item kmp__settings__item--arrow">О кошельке</a>
        </li>
        <li>
            <a [routerLink]="['/transfer']" class="kmp__settings__item kmp__settings__item--arrow">Перевод средств</a>
        </li>
        <li>
            <a [routerLink]="['/settings-edit']" class="kmp__settings__item kmp__settings__item--arrow">Настройки пользователя</a>
        </li>
        <li>
            <a [routerLink]="['/transactions-history']" class="kmp__settings__item kmp__settings__item--arrow">История платежей</a>
        </li>
        <li>
            <a class="kmp__settings__item kmp__settings__item--arrow kmp__settings__item--red" (click)="logOut()">Выход</a>
        </li>
    </ul>
</div>