<main [ngStyle]="{'min-height.px': viewportHeight}">
    <router-outlet></router-outlet>
</main>

<ngl-modal [(open)]="opened" [directional]="directional">
  <div body>
      <div [ngSwitch]="modalTriggerMessage">
          <div *ngSwitchCase="3809">
              <kmp-cross></kmp-cross>
              <h2 class="text-center">Введён неправильный номер, пожалуйста введите номер еще раз.</h2>
          </div>
          <div *ngSwitchCase="3908">
              <kmp-cross></kmp-cross>
              <h2 class="text-center">Неправильный секретный код, пожалуйста попробуйте еще раз.</h2>
          </div>
          <div *ngSwitchCase="7000">
              <kmp-cross></kmp-cross>
              <h2 class="text-center">Пользователь с таким номером уже существует, пожалуйста введите другой номер.</h2>
          </div>
          <div *ngSwitchCase="7001">
              <kmp-tick></kmp-tick>
              <h2 class="text-center">Поздравляем! Вы успешно идентифицировались. Ожидается подтверждения с банка.</h2>
          </div>
      </div>
  </div>
</ngl-modal>