<div class="kmp__settings">
    <div class="kmp__form__item">
        <div class="row">
            <div class="col-4-sm">
                <div class="kmp__form__label">Имя</div>
            </div>
            <div class="col-8-sm">
                <input type="text" class="kmp__form__input" placeholder="Имя">
            </div>
        </div>
    </div>
    <div class="kmp__form__item">
        <div class="row">
            <div class="col-4-sm">
                <div class="kmp__form__label">Фамилия</div>
            </div>
            <div class="col-8-sm">
                <input type="text" class="kmp__form__input" placeholder="Фамилия">
            </div>
        </div>
    </div>
    <div class="kmp__form__item">
        <div class="row">
            <div class="col-4-sm">
                <div class="kmp__form__label">Отчество</div>
            </div>
            <div class="col-8-sm">
                <input type="text" class="kmp__form__input" placeholder="Отчество">
            </div>
        </div>
    </div>
    <div class="kmp__form__item">
        <div class="row">
            <div class="col-4-sm">
                <div class="kmp__form__label">ИНН</div>
            </div>
            <div class="col-8-sm">
                <input type="text" class="kmp__form__input" placeholder="ИНН">
            </div>
        </div>
    </div>
    <div class="kmp__form__item">
        <div class="row">
            <div class="col-4-sm">
                <div class="kmp__form__label">Пол</div>
            </div>
            <ngl-icon icon="answer_public" category="standard"></ngl-icon>
            <div class="col-8-sm">
                <!--<fieldset ngl-form-group label="Пол" [required]="required" [error]="hasError ? error : null" class="slds-m-top--small">
                    <ngl-form-group-element label="Мужчина"><input nglFormControl type="radio" /></ngl-form-group-element>
                    <ngl-form-group-element label="Женщина"><input nglFormControl type="radio" /></ngl-form-group-element>
                </fieldset>
                <fieldset ngl-form-group-alt [required]="required" [error]="hasError ? error : null" class="slds-m-top--small">
                    <template nglFormLabel><i>Alternate Radio Group</i></template>
                    <ngl-form-group-element *ngFor="let day of days">
                        <template nglFormLabel>{{day}}</template>
                        <input nglFormControl type="radio" />
                    </ngl-form-group-element>
                </fieldset>-->
            </div>
        </div>
    </div>
    <div class="kmp__form__divider">
        Безопасность
    </div>
    <ul class="kmp__settings__list">
        <li>
            <a class="kmp__settings__item">Изменить пароль</a>
        </li>
        <li>
            <a class="kmp__settings__item">Пройти идентификацию</a>
        </li>
    </ul>
</div>


<div class="kmp__btn kmp__btn--sticky kmp__btn--primary">Сохранить</div>