<!--{{ data | json}}-->
<div class="kmp__logo kmp__logo--sm">
    <div class="kmp__service__item">
        <h3 class="kmp__service__title">История платежей</h3>
        <button class="slds-button slds-button--neutral" [routerLink]="['/settings-main']">Назад</button> <button class="slds-button slds-button--brand" (click)="getHistory()">Обновить</button>
    </div>
</div>

<div class="kmp__settings">
    <ul class="kmp__settings__list" *ngIf="transactionsExist">
        <li *ngFor="let item of data; let i = index;">
            <a class="kmp__settings__item">{{item[i + 1]?.amount}}c - {{item[i + 1]?.time | date:"dd.MM.yyyy"}}</a>
        </li>
    </ul>
    <p *ngIf="!transactionsExist" class="text-center">История пустая</p>
</div>