<div class="kmp__logo">
  <img class="kmp__logo__img" src="/img/logo2.svg" alt="Kamp Logo">
  <!--<div class="kmp__logo__title">Kamp Money</div>-->
  <div class="kmp__logo__motto">Оплати все что хочешь</div>
</div>

<div class="kmp__home__btns">
  <div class="kmp__btn kmp__btn--rounded kmp__btn--primary" [routerLink]="['/signin']">Войти в KampMoney</div>
  <div class="kmp__btn kmp__btn--rounded kmp__btn--outline" [routerLink]="['/create']">Создать кошелек с Kamp</div>
</div>

<ngl-form-checkbox label="Required" style="display: inline-block;">
  <input nglFormControl type="checkbox" [(ngModel)]="required" />
</ngl-form-checkbox>
<ngl-form-checkbox label="Error" style="display: inline-block;">
  <input nglFormControl type="checkbox" [(ngModel)]="hasError" />
</ngl-form-checkbox>


<fieldset ngl-form-group label="Radio Group Label" [required]="required" [error]="hasError ? error : null" class="slds-m-top--small">
  <ngl-form-group-element label="Radio Label One"><input nglFormControl type="radio" /></ngl-form-group-element>
  <ngl-form-group-element label="Radio Label Two"><input nglFormControl type="radio" /></ngl-form-group-element>
</fieldset>